body {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
div {
  padding: 10px;
}

#result {
  height: 50px;
  width: 80vw;
  border: 1px solid #000;
}

#counters {
  display: flex;
  justify-content: space-around;
}

.gameResult {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.nodis {
  display: none;
}
